ProxyRequests off
<Proxy balancer://webcluster>
    {% for hosts in groups['tag_layer_web'] %}
        BalancerMember http://{{ hostvars[hosts]['public_ip_address'] }}
    {% endfor %}
        ProxySet lbmethod=byrequests
</Proxy>

# Optional
<Location /balancer-manager>
  SetHandler balancer-manager
</Location>

ProxyPass /balancer-manager !
ProxyPass / balancer://webcluster/